<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <root>
    <!--
    1.OFF - nothing gets logged
    2.FATAL 
    3.ERROR
    4.WARN
    5.INFO
    6.DEBUG
    7.ALL - everything gets logged
    -->
    <level value="ALL" />
    <appender-ref ref="RollingLogFileAppender" />
    <appender-ref ref="AdoNetAppender" />
  </root>
  <!--Log to file-->
  <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <file type="log4net.Util.PatternString">
      <conversionPattern value="Logs\%date{yyyy-MM-dd}.txt" />
    </file>
    <threshold value="ALL" />
    <appendToFile value="true" />
    <rollingStyle value="Composite" />
    <maximumFileSize value="15MB" />
    <maxSizeRollBackups value="100" />
    <datePattern value="yyyy-MM-dd" />
    <encoding value="unicodeFFFE" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread][%property{TraceId}] %-5level %logger - %message%newline" />
    </layout>
    <!--Ignore Filter logger name XXX-->
    <filter type="log4net.Filter.LoggerMatchFilter">
      <loggerToMatch value="XXX" />
      <acceptOnMatch value="false" />
    </filter>
  </appender>
  <!--Log to DB-->
  <appender name="AdoNetAppender" type="MicroKnights.Logging.AdoNetAppender, MicroKnights.Log4NetAdoNetAppender">
    <!--Ignore Filter logger name XXX-->
    <filter type="log4net.Filter.LoggerMatchFilter">
      <loggerToMatch value="XXX" />
      <acceptOnMatch value="false" />
    </filter>
    <bufferSize value="1" />
    <usetransactions value="false" />
    <connectionString value="Server=localhost;Database=Log4NetDB;User Id=sa;Password=p@ssw0rd;" />
    <connectionType value="System.Data.SqlClient.SqlConnection,System.Data.SqlClient,Version=4.0.0.0,Culture=neutral,PublicKeyToken=b77a5c561934e089" />
    <commandText value="INSERT INTO Log4netLog ([TraceId],[Date],[Thread],[Level],[Logger],[Message],[Exception],[ExceptionType],[Route],[Method],[Param],[EntryAssembly]) VALUES (@TraceId, @log_date, @thread, @log_level, @logger, @message, @exception, @exceptiontype, @route, @method, @param, @entryAssembly)" />
    <parameter>
      <parameterName value="@TraceId" />
      <dbType value="String" />
      <size value="4000" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{TraceId}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@log_date" />
      <dbType value="DateTime" />
      <layout type="log4net.Layout.RawTimeStampLayout" />
    </parameter>
    <parameter>
      <parameterName value="@thread" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%thread" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@log_level" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@logger" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%logger" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@message" />
      <dbType value="String" />
      <size value="10000" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@exception" />
      <dbType value="String" />
      <size value="10000" />
      <layout type="log4net.Layout.ExceptionLayout" />
    </parameter>
    <parameter>
      <parameterName value="@exceptiontype" />
      <dbType value="String" />
      <size value="100" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{ExceptionType}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@route" />
      <dbType value="String" />
      <size value="1000" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{Route}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@method" />
      <dbType value="String" />
      <size value="2000" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{Method}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@param" />
      <dbType value="String" />
      <size value="4000" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{Param}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@entryAssembly" />
      <dbType value="String" />
      <size value="4000" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{log4net:HostName}" />
      </layout>
    </parameter>
  </appender>
</log4net>